# Workshop Notes

In [1]:
import pandas as pd

In [5]:
data=pd.read_csv("btc-usd-max.csv")

In [6]:
data

                   snapped_at         price    market_cap  total_volume
0     2013-04-28 00:00:00 UTC    135.300000  1.500518e+09  0.000000e+00
1     2013-04-29 00:00:00 UTC    141.960000  1.575032e+09  0.000000e+00
2     2013-04-30 00:00:00 UTC    135.300000  1.501657e+09  0.000000e+00
3     2013-05-01 00:00:00 UTC    117.000000  1.298952e+09  0.000000e+00
4     2013-05-02 00:00:00 UTC    103.430000  1.148668e+09  0.000000e+00
...                       ...           ...           ...           ...
3054  2021-09-09 00:00:00 UTC  46085.028616  8.668859e+11  4.815110e+10
3055  2021-09-10 00:00:00 UTC  46518.941187  8.761793e+11  3.858109e+10
3056  2021-09-11 00:00:00 UTC  44802.606402  8.422226e+11  3.805199e+10
3057  2021-09-12 00:00:00 UTC  45196.488278  8.498282e+11  3.416028e+10
3058  2021-09-13 00:00:00 UTC  46195.218301  8.691226e+11  2.758586e+10

[3059 rows x 4 columns]

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3059 entries, 0 to 3058
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   snapped_at    3059 non-null   object
 1   price         3059 non-null   float64
 2   market_cap    3058 non-null   float64
 3   total_volume  3059 non-null   float64
dtypes: float64(3), object(1)
memory usage: 95.7+ KB

In [12]:
data.isnull().sum()

snapped_at      0
price           0
market_cap      1
total_volume    0
dtype: int64

In [13]:
#to drop columns()